<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Events</title>
    <meta name="description" content="Evente - Conference and Event HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/favicon.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/flaticon_mycollection.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/odometer.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    


    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!-- Preloader End -->
    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="fa-sharp fa-regular fa-arrow-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header class="td-header-height">
        <div id="header-sticky" class="td-header__area z-index-999 td-transparent  header-mobile-spacing">
            <div class="container-fluid container-1680">
                <div class="row align-items-center">
                    <div class="col-xxl-9 col-xl-10 col-lg-10 col-6">
                        <div class="tdmenu__wrap d-flex align-items-center justify-content-between">
                            <div class="logo">
                                <a class="logo-1 logo-sticky-none" href="index.html"><img data-width="150" src="/img/logo/logo-white.png" alt="Logo"></a>
                                <a class="logo-2 d-none" href="index.html"><img data-width="150" src="/img/logo/logo-black.png" alt="Logo"></a>
                            </div>
                            <nav class="tdmenu__nav ml-50 mr-50 d-none d-xl-flex">
                                <div class="tdmenu__navbar-wrap tdmenu__main-menu">
                                    <ul class="navigation fw-bold">
                                        <li><a href="~/Index">Home</a></li>
                                        <li><a href="~/Announcements">Announcements</a></li>
                                        <li><a href="~/Events">Events</a></li>
                                        <li><a href="~/Cart">Cart</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-2 col-lg-2 col-6">
                        <div class="td-menu-right-action d-flex align-items-center justify-content-end">
                            
                            <div class="td-header-cart p-relative ml-5">
                                <button class="cart-button cartmini-open-btn">
                                    <i class="flaticon-shopping-cart"></i>  
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </header>
    <!-- header-area-end -->
    <!-- main-area -->
    <main>
        @RenderBody()

    </main>
    <!-- main-area-end -->
    <!-- footer-area-start -->
    <footer>
        <div class=" mt-20 td-footer-area  bg-position" data-background="/img/footer/bg.jpg">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="td-footer-bottom pt-15">
                            <div class="row align-items-center">
                                <div class="col-md-9">
                                    <div class="td-footer-bottom-copyright mb-10">
                                        <p>Copyright © 2025 EMS All rights reserved.</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="td-footer-bottom-social text-right mb-10">
                                        <span><a href="#"><i class="fa-brands fa-linkedin"></i></a></span>
                                        <span><a href="#"><i class="fa-brands fa-instagram"></i></a></span>
                                        <span><a href="#"><i class="fa-brands fa-whatsapp"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->
    <!-- JS here -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/ion.rangeSlider.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.odometer.min.js"></script>
    <script src="/js/jquery-appear.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/Jarallax.js"></script>
    <script src="/js/nice-select.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>