@page
@model EMS.Web.Pages.EventsModel
@{
    ViewData["Title"] = "Events";
}



<!-- td-breadcrumb-area-start -->
<div class="td-breadcrumb-area td-breadcrumb-spacing bg-position" data-background="/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="td-breadcrumb-title-wrap">
                    <h2 class="td-breadcrumb-title mb-10 wow td-animetion-left" data-wow-duration="1.5s" data-wow-delay="0.2s">All Events</h2>
                    <div class="td-breadcrumb-list wow td-animetion-right" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <ul>
                            <li><a href="~/Index">Home</a></li>
                            <li><i class="fa-sharp fa-solid fa-angle-right fa-fw"></i></li>
                            <li class="pages">Events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- td-breadcrumb-area-end -->

<!-- td-schedule-area-start -->
<div class="td-schedule-area  pt-10 pb-50 bg-position" data-background="/img/schedule/schedule-4/bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-8 col-xl-9 col-lg-10">
                
                <div class="nav td-schedule-tab-btn td-schedule-3-tab-btn justify-content-center mb-10 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active p-relative" id="v-pills-home1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home1" type="button" role="tab" aria-controls="v-pills-home1" aria-selected="false">
                        Seminars
                    </button>
                    <button class="nav-link p-relative" id="v-pills-health-tab" data-bs-toggle="pill" data-bs-target="#v-pills-health" type="button" role="tab" aria-controls="v-pills-health " aria-selected="false">
                        Festivals
                    </button>
                    <button class="nav-link p-relative" id="v-pills-life-tab" data-bs-toggle="pill" data-bs-target="#v-pills-life" type="button" role="tab" aria-controls="v-pills-life" aria-selected="false">
                        Sports
                    </button>
                    <button class="nav-link p-relative" id="v-pills-life-tab" data-bs-toggle="pill" data-bs-target="#v-pills-life" type="button" role="tab" aria-controls="v-pills-life" aria-selected="false">
                        Conferences
                    </button>
                    <button class="nav-link p-relative" id="v-pills-life-tab" data-bs-toggle="pill" data-bs-target="#v-pills-life" type="button" role="tab" aria-controls="v-pills-life" aria-selected="false">
                        Online
                    </button>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tp-contact-form-wrapper tp-black-bg9  tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade active show" id="v-pills-home1" role="tabpanel" aria-labelledby="v-pills-home1-tab">
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" src="/img/schedule/schedule-3/schedule.jpg" alt="">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i> jan 10, 2025</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="contact.html">
                                            Innovate 2025 Your Pathway to Business<br>
                                            Transformation Energy Save
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            Apple Upper West Side, Brooklyn
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            19:15 a.m. – 07:15 a.m.
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen bookIt
                                        has survived not only five centuries, but also the leap into electronic.
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Parker Roben</h6>
                                                <span class="position">Author, Cleaner</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="contact.html">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" src="/img/schedule/schedule-3/schedule-2.jpg" alt="">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i>jan 10, 2025</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="contact.html">
                                            Innovate 2022 Your Pathway to Business<br>
                                            Transformation Energy Save
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            Apple Upper West Side, Brooklyn
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            19:15 a.m. – 07:15 a.m.
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen bookIt
                                        has survived not only five centuries, but also the leap into electronic.
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user-2.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Parker Roben</h6>
                                                <span class="position">Author, Cleaner</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="contact.html">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" src="/img/schedule/schedule-3/schedule-3.jpg" alt="">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i> jan 10, 2025</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="contact.html">
                                            Innovate 2023 Your Pathway to Business<br>
                                            Transformation Energy Save
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            Apple Upper West Side, Brooklyn
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            19:15 a.m. – 07:15 a.m.
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen bookIt
                                        has survived not only five centuries, but also the leap into electronic.
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user-3.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Parker Roben</h6>
                                                <span class="position">Author, Cleaner</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="contact.html">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" src="/img/schedule/schedule-3/schedule-4.jpg" alt="">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i>jan 10, 2025</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="contact.html">
                                            Innovate 2023 Your Pathway to Business<br>
                                            Transformation Energy Save
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            Apple Upper West Side, Brooklyn
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            19:15 a.m. – 07:15 a.m.
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen bookIt
                                        has survived not only five centuries, but also the leap into electronic.
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user-3.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Parker Roben</h6>
                                                <span class="position">Author, Cleaner</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="contact.html">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-health" role="tabpanel" aria-labelledby="v-pills-health-tab">
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" src="/img/schedule/schedule-3/schedule-2.jpg" alt="">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i> jan 10, 2025</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="contact.html">
                                            Innovate 2025 Your Pathway to Business<br>
                                            Transformation Energy Save
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            Apple Upper West Side, Brooklyn
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            19:15 a.m. – 07:15 a.m.
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen bookIt
                                        has survived not only five centuries, but also the leap into electronic.
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user-2.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Parker Roben</h6>
                                                <span class="position">Author, Cleaner</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="contact.html">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" src="/img/schedule/schedule-3/schedule-3.jpg" alt="">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i> jan 10, 2025</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="contact.html">
                                            Innovate 2022 Your Pathway to Business<br>
                                            Transformation Energy Save
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            Apple Upper West Side, Brooklyn
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            19:15 a.m. – 07:15 a.m.
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen bookIt
                                        has survived not only five centuries, but also the leap into electronic.
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user-3.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Parker Roben</h6>
                                                <span class="position">Author, Cleaner</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="contact.html">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-life" role="tabpanel" aria-labelledby="v-pills-life-tab">
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" src="/img/schedule/schedule-3/schedule.jpg" alt="">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i>jan 10, 2025</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="contact.html">
                                            Innovate 2025 Your Pathway to Business<br>
                                            Transformation Energy Save
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            Apple Upper West Side, Brooklyn
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            19:15 a.m. – 07:15 a.m.
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen bookIt
                                        has survived not only five centuries, but also the leap into electronic.
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Parker Roben</h6>
                                                <span class="position">Author, Cleaner</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="contact.html">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <img class="w-100" src="/img/schedule/schedule-3/schedule-2.jpg" alt="">
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i> jan 10, 2025</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title">
                                        <a href="contact.html">
                                            Innovate 2021 Your Pathway to Business<br>
                                            Transformation Energy Save
                                        </a>
                                    </h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            Apple Upper West Side, Brooklyn
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            19:15 a.m. – 07:15 a.m.
                                        </span>
                                    </div>
                                    <p class="mb-25 para">
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen bookIt
                                        has survived not only five centuries, but also the leap into electronic.
                                    </p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="/img/schedule/schedule-3/user-2.jpg" alt="">
                                            </span>
                                            <div>
                                                <h6 class="name">Parker Roben</h6>
                                                <span class="position">Author, Cleaner</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="contact.html">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- td-schedule-area-end -->
